@tailwind base;
@tailwind components;
@tailwind utilities;

/* App root sizing */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Prevent weird horizontal scroll */
body {
  overflow-x: hidden;
}

/* Smoother text rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
